.dfn-enter-anim {
    animation-duration: 0.35s;
    animation-fill-mode: both;
    animation-name: pulse;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.dbn-mR10 {
    margin-right: 10px;
}

.dbn-action {
    color: #0073aa;
    cursor: pointer;
}

.dbn-action.danger {
    color: saddlebrown;
}